	<div id="accueil">
		<h1>LE PLANIFICAT'HEURE</h1>
		<p id="slogan">Planifier votre journée à toutes heures!</p>
		<div id="mode">
			<img id="imgPostMode" src="./css/postModeOK.png"/>
				<ol><li>Mode:</li></ol>
				<li><a href="#" class="btnMode" ng-click="creerPlanning('journalier');">Journalier</a></li>
				<li><a href="#" class="btnMode" ng-click="creerPlanning('hebdomadaire');">Hebdomadaire</a></li>
		</div>
		
		<div id="modeEmploi">
			<ul id="nav">
				<li><img src="./css/petitlivre.png"><a href="#" id="modeEmploiFont"  ng-click="">Mode d'emploi</a></li>
			</ul>
		</div>
	</div>