<div id="zoneBtn">
	<button class="info" ng-click="afficherAccueil(true);" style="background:#ADD8E6;"><img src="css/exit.png"/><span>Retour</span></button>
	<button class="info" ng-click="serializePlanning();" style="background:#ADD8E6;"><img src="css/export.png"/><span>Export</span></button>
	<button class="info" ng-click="afficherModifierCategorie();" style="background:#ADD8E6;"><img src="css/panel.png"/><span>Catégories</span></button>
	<button class="info" ng-click="fenetreModifHoraire.afficher(true);" style="background:#ADD8E6;"><img src="css/modifHeure.png"/><span>Horaires</span></button>
	<button class="info" id="btnReset" ng-click="reinitialiser();" style="background:#ADD8E6;"><img src="css/reinitialise.png"/><span>Réinitialiser</span></button>
	<button class="info" ng-click="planning.optimiserLargeurColonnes();" style="background:#ADD8E6;"><img src="css/affichage.png"/><span>Affichage</span></button>
	<button class="info" ng-click="fenImport.afficher(true);" style="background:#ADD8E6;"><img alt="import" src="css/importquiexistepas.png"/><span>import</span></button>
	<button class="info" ng-click="annuler();" style="background:#ADD8E6;"><img alt="annuler dernière suppression" src="css/importquiexistepas.png"/><span>annuler dernière suppression</span></button>
	<button class="info" ng-click="fenPolice.afficher(true);" style="background:#ADD8E6;" alt ="Changer style écriture" >  <span>Changer style écriture</span></button>
</div>